#define STR(s) #s

#if defined(pretty_urls)
	#define HREF(x)   href=#x
	#define FRONTPAGE href="/"
#else
	#define HREF(x)   href=STR(x.html)
	#define FRONTPAGE href="/index.html"
#endif

<header>
	<div id='logo'>
		<a FRONTPAGE>The SynthDIY Database</a>
	</div>
	<nav>
		<ul>
			<li>
				<a HREF(/creators)>Creators</a>
			</li>
			<li>
				<a HREF(/modules)>Modules</a>
			</li>
			<li>
				<a HREF(/search)>Search</a>
			</li>
		</ul>
	</nav>
	<ul>
		<li>
			<a HREF(/login)>Login</a>
		</li>
		<li>
			<a HREF(/register)>Register</a>
		</li>
	</ul>
</header>
