body {
	font-family: sans-serif;
	color: #eee;
	background-color: #111;
	margin: 0;
}

/* header */
header {
	background-color: #000;
	border-bottom: .1em solid #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
/* logo */
#logo {
	padding-left: 1em;
	width: 6em;
}
#logo a {
	color: #eee;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
}
/* header navigation links */
header nav ul {
	display: flex;
	padding: 0;
	margin: 0;
}
header nav ul li a {
	color: #eee;
	text-decoration: none;
	background-color: #111;
	padding: 0.7em;
	border-radius: 0.5em;
	margin: 0.4em;
	display: block;
}
/* login, register buttons */
header ul {
	display: flex;
	padding: 0;
	margin: 0;
}
header ul li a {
	color: #ccc;
	padding: 0.7em;
	margin: 0.4em;
	display: block;
}
/* end of header */

#content {
	width: 100%;
	max-width: 40em;
	padding: 1em;
	margin: auto;
	box-sizing: border-box;
}

input,
#creators > div > label > span,
#parents > div > label > span {
	display: block;
}

.link,
.resource {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background-color: #222;
	padding: 1em;
	margin: 0.4em 0;
	border-radius: 1em;
}
.link > div > label,
.resource > div > label {
	display: block;
}
.link > div > label > span,
.resource > div > label > span {
	display: inline-block;
	width: 4em;
}
.link > div > label > input,
.resource > div > label > input {
	display: inline-block;
}

#moduleInfo,
pre {
	padding: 1em;
	border-radius: 1em;
}

#moduleInfo {
	display: flex;
	flex-direction: column;
	background-color: #222;
}

#creatorsContainer,
#parentsContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0.4em;
}
#moduleCreators,
#moduleParents {
	margin: 0;
	padding: 0;
}

#titlebar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.linkButton,
#moduleCreators a:link,
#moduleCreators a:visited,
#moduleParents a:link,
#moduleParents a:visited,
#moduleLink {
	color: #000;
	text-decoration: none;
	background-color: #fdb;
	padding: 0.3em;
	border-radius: 0.5em;
	margin: 0.4em;
}

#creatorLinks {
	padding: 0;
	display: flex;
}
header nav ul li,
header ul li,
#creatorLinks li {
	/* hide list item markers */
	display: block;
}
#creatorLinks li a {
	color: #000;
	text-decoration: none;
	background-color: #dbf;
	padding: 0.7em;
	border-radius: 0.5em;
	margin: 0.4em;
	display: block;
}

#creators,
#modules,
#creatorModules,
#moduleResources {
	padding: 0;
}
#creators li,
#modules li,
#creatorModules li,
#moduleResources li {
	display: flex;
	background-color: #222;
	padding: 0.4em;
	border-radius: 1em;
	margin: 0.4em;
}
#creators li a,
#modules li a,
#creatorModules li a,
#moduleResources li a {
	color: #eee;
	text-decoration: none;
	display: block;
	padding: 1em;
	flex: 1;
}

.formatLabel {
	color: #bff;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0;
	padding: 0 0.5em;
	text-align: right;
}

pre {
	background-color: #222;
	overflow-x: scroll;
}

